@charset "UTF-8";
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
img,
small, strong, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, dt {
  font-weight: 300; }

body, html {
  width: 100%;
  height: 100%; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

.site-header {
  margin-bottom: 1rem;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .site-header-image {
    margin-bottom: -5px; }
.site-menu {
  text-align: center; }
  .site-menu li {
    margin: 0 0.5rem;
    display: inline-block; }
    .site-menu li a {
      font-weight: 200;
      font-size: 14px;
      font-size: 0.875rem;
      color: #666; }
      .site-menu li a:hover {
        color: #666; }
      .site-menu li a.twitter:before {
        content: "";
        font-family: "FontAwesome"; }
.site_title {
  font-weight: 500;
  font-size: 26px;
  font-size: 1.625rem; }
  .site_title small {
    font-weight: 500;
    font-size: 22px;
    font-size: 1.375rem; }
.site_desc {
  text-align: right;
  font-family: "ryo-text-plusn", serif;
  font-weight: 200;
  font-size: 12px;
  font-size: 0.75rem; }

article.text .post_title {
  color: #444;
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 5px; }
  article.text .post_title:hover {
    color: #444; }
article.text .post-body {
  font-weight: 200;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.3; }
  article.text .post-body p {
    margin-bottom: 0.5rem; }

body {
  color: #444;
  background: #f9f9f9;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Roboto", "Droid Sans", "YuGothic", "游ゴシック", "Meiryo", "メイリオ", "Verdana", "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }

#layout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 360px;
  padding: 20px;
  color: #666;
  background: #fff;
  z-index: 2;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2); }
  #layout-menu section {
    margin-top: 2rem; }
#layout-content {
  max-width: 800px;
  margin-left: 360px;
  padding: 50px; }

.section_title {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px; }

.tagList {
  margin-right: -30px; }
  .tagList li {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2); }
    .tagList li:not(:last-child) {
      margin-bottom: 10px; }
    .tagList li img {
      display: block; }
